html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7528F0 #121212;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #121212;
}

*::-webkit-scrollbar-thumb {
  background-color: #7528F0;
  border-radius: 20px;
  border: 3px solid #121212;
}

.hoveredText:hover::after {
  width: 100%;
}

.blink::after {
  content: '|';
  font-family: cursive;
  padding-left: 4px;
  text-align: center;
  color: #7528F0;
  animation: blink 1s linear infinite;
}

@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.initial {
  animation: blink2 2s linear forwards;
}

@keyframes blink2 {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}

    0%{transform: translateX(-65px);}
    98%{transform: translateX(5px)}
    99%{transform: translateX(3px)}
    100%{transform: translateX(0);}
}

.initial2 {
  animation: blink3 1.5s linear forwards;
}

@keyframes blink3 {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}

    0%{transform: translateX(-65px);}
    98%{transform: translateX(5px)}
    99%{transform: translateX(3px)}
    100%{transform: translateX(0);}
}

.animationimg {
  animation: blink4 2s linear forwards;
}

@keyframes blink4 {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}

    0%{transform: translateY(65px);}
    98%{transform: translateY(-5px)}
    99%{transform: translateY(-3px)}
    100%{transform: translateY(0);}
}

.animationlogo {
  animation: blink5 2s linear forwards;
}

@keyframes blink5 {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}

    0%{transform: translateY(-65px);}
    98%{transform: translateY(5px)}
    99%{transform: translateY(3px)}
    100%{transform: translateY(0);}
}


.css-typing p {
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    animation: type 2s steps(40, end);
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: fit-content;
    opacity: 0;
    animation: type2 2s steps(40, end);
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: fit-content;
    opacity: 0;
    animation: type3 2s steps(40, end);
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    from { width: 0 }
    to { width: 100% }
  }

  
  @keyframes type2 {
    from { width: 0 }
    to { width: 100% }

    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes type3 {
    from { width: 0 }
    to { width: 100% }

    0% {
      width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width: 479px) {
    .css-typing p:nth-child(3) {
        width: fit-content;
        opacity: 0;
        animation: type3 2s steps(40, end);
        animation-delay: 2.35s;
        animation-fill-mode: forwards;
      }
  }

  .social:hover a {
    opacity: 0.5;
  }

  .social a:hover {
    opacity: 1;
  }
